<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand h6 my-auto" href="/main">
      <img src="../images/logo.png" style="width: 8rem; height: 3rem;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link d-block d-md-none h6" href="/standing">Standing</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){ %>
          <a class="nav-link" href="/login">login</a>
          <a class="nav-link" href="/register">register</a>
          <% }else{ %>
            <a class="nav-link h6" href="/profile">
              <div class="rounded-circle d-flex">
              <img src="/images/maleNoProfile.jpg" class="rounded-circle mx-2" style="width: 2rem; height: 2rem;">
                <p class="fs-5 my-auto"> <%= currentUser.username %></p>
              </div>
            </a>
            <div class="d-flex">
             <a class="nav-link h6 mt-2" href="/logout">Log out</a>
          </div>

            <% } %>
      </div>
    </div>
  </div>
</nav>
