<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- normalize -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!-- font awsoume -->
  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <!-- Roboto font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <!-- style sheet -->
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <title>Saa3d</title>
</head>
<body>
  <main>
    <div class="landing">
      <img src="../images/logo.png" alt="">
      <h1>Building the Future...</h1>
      <div class="container">
          <p id="one">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis earum veniam sit, in debitis necessitatibus tenetur voluptate! Id eligendi maiores a? Velit, at voluptatibus sed ipsum laudantium tenetur doloremque nihil?</p>
          <p id="two" class="hide">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique culpa numquam ullam nemo quidem aliquam ratione laborum veniam, quo nesciunt assumenda natus neque perferendis placeat! Tempora provident sequi esse iure!</p>
          <p id="three" class="hide">Lorem %% ipsum dolor sit amet consectetur adipisicing elit. Rerum perferendis nemo optio nihil natus perspiciatis ratione accusamus tenetur deserunt aut, earum pariatur itaque totam quia voluptate doloribus, repudiandae excepturi enim!</p>
      </div>
      <div class="spans">
        <span id="s1" class="active"></span>
        <span id="s2"></span>
        <span id="s3"></span>
      </div>
      <button><a href="/register">Join Us</a></button>
    </div>
  </main>
  <script src="/javascripts/slider.js"></script>
</body>
</html>