main {
  background: url('../images/landing.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
main .landing {
  height: 90%;
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}
main .landing img {
  width: 211px;
  height: 308px;
}
main .landing h1 {
  color: white;
  font-weight: 400;
  margin: 0px;
}
main .landing .container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .landing .container p {
  width: 500px;
  color: white;
  line-height: 2;
  transition: 0.3s linear;
}
.hide {
  display: none;
}
.disp {
  display: block;
}
.spans {
  width: fit-content;
  margin: 0px auto;
  display: flex;
  flex-flow: row nowrap;
}
.spans span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 10px;
  transition: 0.3s linear;
}
.active {
  border: none;
  background-color: white;
}
.disactive {
  border: 1px solid white;
  background-color: transparent;
}
.spans span:nth-of-type(1) {
  margin-left: 0px;
}
button {
  background-color: #707070;
  padding: 20px 60px;
  border: none;
  transition: 0.3s linear;
}
button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  transition: 0.3s linear;
}
button:hover {
  background-color: white;
}
button:hover a {
  color: #707070;
}
